In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
ser1 = Series(range(3), index=['C','A','B'])

In [5]:
ser1

C    0
A    1
B    2
dtype: int64

In [9]:
# indexで並べ替え
ser1.sort_index()
ser1

C    0
A    1
B    2
dtype: int64

In [13]:
# 値で並べ替え
ser1.sort_values()
ser1

C    0
A    1
B    2
dtype: int64

In [15]:
from numpy.random import randn

In [16]:
ser2 = Series(randn(10))

In [17]:
ser2

0   -0.840205
1   -1.187171
2    0.019267
3   -0.146731
4   -0.442458
5    1.211538
6   -0.481205
7    1.682954
8    0.443044
9    1.120159
dtype: float64

In [18]:
ser2.rank()

0     2.0
1     1.0
2     6.0
3     5.0
4     4.0
5     9.0
6     3.0
7    10.0
8     7.0
9     8.0
dtype: float64

In [22]:
ser2 = ser2.sort_values()

In [23]:
ser2.rank()

1     1.0
0     2.0
6     3.0
4     4.0
3     5.0
2     6.0
8     7.0
9     8.0
5     9.0
7    10.0
dtype: float64

In [25]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])
dframe1 = DataFrame(arr,index=['A','B'],columns = ['One','Two','Three'])
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [26]:
# 合計を求めるsumの動きを確認しましょう。
#行方向に計算が進むので、列の合計が見られます。
dframe1.sum()

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [27]:
#行の合計を求めたいときは、列方向（axis=1）で計算
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [28]:
# 最小値を求める。
dframe1.min()

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [29]:
# 累積計算
dframe1.cumsum()

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [30]:
# DataFrameの全体像を簡単に見ることができます。
dframe1.describe()

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [36]:
#pandasを使用して株価のデータを分析してみる
#pandas.io.dataがもう無いため下記で対応
from pandas_datareader import DataReader as pdweb
from datetime import datetime

In [36]:
# 米国のYahooのサービスを使って、株価を取得します。
tech_list = ['GOOG','AAPL','FB','AMZN']

In [36]:
end = datetime.now()
start = datetime(end.year - 1,end.month,end.day)

In [44]:
# それぞれの企業ごとに、Yahoo.comのサイトからデータを取得
for stock in tech_list:
    # それぞれの名前でDataFrameを作成。
    globals()[stock] = pdweb(stock,'yahoo',start,end)
# FaceBookのデータの状態を確認(最後の５行分)
FB.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-05-19,220.490005,212.830002,213.270004,216.880005,31843200,216.880005
2020-05-20,231.339996,223.190002,223.500000,229.970001,50162900,229.970001
2020-05-21,237.199997,231.199997,234.720001,231.389999,47782600,231.389999
2020-05-22,235.990005,228.740005,231.509995,234.910004,33925600,234.910004
2020-05-26,240.899994,231.669998,239.770004,232.199997,33153100,232.199997

In [41]:
# まず、単純な株価の変化を描画してみます。
%matplotlib inline
FB.plot

NameError: name 'rets' is not defined