In [1]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series,DataFrame

In [2]:
my_ser = Series([1,2,3,4], index = ['A','B','C','D'])

In [3]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index = my_ser.index

In [5]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
my_index[2]

'C'

In [7]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [9]:
# pandasのindexは基本書き換えられない
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

In [10]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [11]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
# indexを書き換え
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [13]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [15]:
ser2.reindex(['H','B','C','D','E','F','G'],fill_value = 0)

H    0.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [16]:
# forwardfill 値詰めに役立つかも
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])

In [17]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [18]:
ser3.reindex(range(15),method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

### DataFrameから行、列削除はdropを使用

In [20]:
# Dframe作成時にカラムの名前をつける
dframe1 = DataFrame(np.arange(9).reshape((3,3)),columns = list('ADC') , index = ['NYC','SF','LA'])

In [21]:
dframe1

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [22]:
# シリーズを取り出す
ser3 = dframe1.ix[0]

/Users/kazu/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [23]:
ser3

A    0
D    1
C    2
Name: NYC, dtype: int64

In [24]:
#形が違うもの同士でも計算ができる。
dframe1 - ser3

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6