In [1]:
# シリーズというデータ型
import pandas as pd
from pandas import Series

In [2]:
# np.arrayとSeriesの違いは、index番号が自動付与されるところ
# indexを文字列にすることも可能
obj = Series([3,4,9,12])

In [3]:
obj

0     3
1     4
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  4,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww2_cas = Series([870000,430000,300000,210000,400000], index = ['USSR','Germany','China','Japan','USA'])

In [9]:
ww2_cas

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [10]:
ww2_cas['USA']

400000

In [11]:
ww2_cas[ww2_cas>400000]

USSR       870000
Germany    430000
dtype: int64

In [12]:
'USSR' in ww2_cas

True

In [13]:
# Seriesから辞書型を作成することもできる
ww2_dict = ww2_cas.to_dict()

In [14]:
ww2_dict

{'USSR': 870000,
 'Germany': 430000,
 'China': 300000,
 'Japan': 210000,
 'USA': 400000}

In [15]:
# 逆も可能  
ww2_Series = Series(ww2_dict)

In [17]:
ww2_Series

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [18]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [19]:
obj2 = Series(ww2_dict,index = countries)

In [20]:
obj2

China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
dtype: float64

In [21]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [22]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_Series + obj2

Argentina          NaN
China         600000.0
Germany       860000.0
Japan         420000.0
USA           800000.0
USSR         1740000.0
dtype: float64

In [24]:
# Seriesは全体に名前を付けることも可能
obj2.name = '第二次世界大戦'

In [25]:
obj2

China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
Name: 第二次世界大戦, dtype: float64